* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
}

.Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    border-bottom: 2px solid white;
}

.logo a {
    text-decoration: none;
    color: white;
    font-size: 3rem;
    font-family: "Lexend Exa", sans-serif;
}

.nav-links ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: white;
    border: solid 2px white;
    border-radius: 20px;
    padding: 10px;
    transition: all 0.3s ease-in-out;
    font-size: 1.2rem;
    font-family: "Lexend Exa", sans-serif;
}

.nav-links a:hover {
    color: black;
    background-color: white;
}

.Hero-section {
    margin-top: 5vh;
    padding: 20px;
    font-family: "Lexend Exa", sans-serif;
}

.Hero-section section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.dev-img img {
    height: auto;
    width: 30vw;
    border-radius: 30px;
    border: 2px solid blanchedalmond;
    padding: 20px;
}

.about-dev {
    font-size: 1.2rem;
}

.section-heading {
    display: flex;
    justify-content: center;
    padding-top: 20vh;
}

.section-heading h1 {
    font-size: 5rem;
    font-family: "Lexend Exa", sans-serif;
    border-bottom: 3px solid white;
    margin-bottom: 2vh;
}

.skill-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin-top: 5vh;
    padding: 20px;
}

.skill-card {
    border-radius: 50px;
    padding: 40px;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.skill-card img {
    width: auto;
    height: 15vw;
    padding: 30px;
}

.skill-head {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-family: "Lexend Exa", sans-serif;
    margin-bottom: 3vh;
}

.skill-info {
    display: flex;
    justify-content: center;
    font-size: 1rem;
    font-family: "Lexend Exa", sans-serif;
}

.html {
    background-color: rgba(224, 109, 60, 0.75);
}

.css {
    background-color: rgba(48, 76, 220, 0.75);
}

.react {
    background-color: rgba(113, 191, 219, 0.75);
}

.javascript {
    background-color: rgba(243, 224, 80, 0.75);
}

.php {
    background-color: rgba(128, 144, 199, 0.75);
}

.cpp {
    background-color: rgba(26, 67, 126, 0.75);
}

.nodejs {
    background-color: rgba(119, 161, 101, 0.75);
}

.python {
    background: linear-gradient(495deg,
            rgba(55, 119, 171, 0.2),
            rgba(255, 212, 59, 0.2));
}

.react img {
    animation: Reactlogo 8s linear infinite;
}

@keyframes Reactlogo {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}